InventoryClient/Connected Services/InventoryService/InventoryService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/InventoryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/InventoryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EventDataType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreateDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DoctorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MisProcessPid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OrderId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Services" nillable="true" type="tns:ArrayOfEventDataType.Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType" nillable="true" type="tns:EventDataType" />
  <xs:complexType name="ArrayOfEventDataType.Service">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDataType.Service" nillable="true" type="tns:EventDataType.Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDataType.Service" nillable="true" type="tns:ArrayOfEventDataType.Service" />
  <xs:complexType name="EventDataType.Service">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:double" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Materials" nillable="true" type="tns:ArrayOfEventDataType.Service.Material" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType.Service" nillable="true" type="tns:EventDataType.Service" />
  <xs:complexType name="ArrayOfEventDataType.Service.Material">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EventDataType.Service.Material" nillable="true" type="tns:EventDataType.Service.Material" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEventDataType.Service.Material" nillable="true" type="tns:ArrayOfEventDataType.Service.Material" />
  <xs:complexType name="EventDataType.Service.Material">
    <xs:sequence>
      <xs:element minOccurs="0" name="Count" type="xs:double" />
      <xs:element minOccurs="0" name="Id1C" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdMis" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Unit" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EventDataType.Service.Material" nillable="true" type="tns:EventDataType.Service.Material" />
</xs:schema>